body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/logo.jpg'); /* Ruta a tu archivo de logo */
    background-size: cover; /* Ajusta el tamaño del fondo */
    background-position: center; /* Centra el fondo */
    background-attachment: fixed; /* Fondo fijo para el efecto de paralaje */
    color: #000; /* Color del texto: negro */
}

header {
    background-color: #1e8449; /* Verde Césped Oscuro */
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

.producto {
    display: flex;
    margin-bottom: 20px;
}

.imagen-contenedor {
    flex: 1;
}

.imagen-contenedor img {
    width: 100%; /* La imagen ocupará el 100% del contenedor */
}

.info-contenedor {
    flex: 2;
    padding-left: 20px; /* Espaciado entre la imagen y la información */
}

.footer {
    background-color: #3498db; /* Azul Cielo */
    color: #000; /* Color del texto: negro */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #f39c12; /* Amarillo */
    color: #000; /* Color del texto: negro */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e67e22; /* Amarillo más oscuro */
}
